.navbar-nav a{
	margin-left:100px;
	 float: left;
  	text-align: center;
  	padding: 12px;
    text-decoration: none;
  	font-size: 18px; 
  	line-height: 25px;
  	border-radius: 4px;
}
.navbar{
	height:70px;
}
.side-nav{
  	height:100%;
  	width:0;
  	position:absolute;
  	z-index:1;
  	top:0;
  	background-color:#0d0d0d;
  	opacity:0.9;
  	overflow-x:hidden;
  	padding-top:60px;
  	transition:0.5s;
}
.side-nav a{
  	padding:10px 60px 50px 30px;
  	text-decoration:none;
  	font-size:22px;
  	color:#778899;
  	display:block;
  	transition:0.3s;
}
.side-nav a:hover{
  	color:#fff;
}
/* responsive side menu close button */
.side-nav .btn-close{
  	position:absolute;
  	top:0;
  	font-size:36px;
}
.open-slide {
	display:none;
}

.glyphicon{
	margin-left:10px;
}
.home-heading-img img {
	width:100%;
	height:500px;
	margin-top:-50px;
}
#home-page-heading h1{


 text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:-400px;
	
}
.glyphicon-log-in{
	float:right;
}
.glyphicon-user{
	float:right;
}
.navbar-light{
	background-color:#7c0a02;
	border-radius:0px;
}
.register-menu  {
	margin-left:330px;
	margin-top:-40px;
}
.login-menu{
	margin-left:1080px;
	margin-top:-50px;
}
.view-profile{
	margin-left:20%;
	margin-top:-40px;
}

.navbar-nav {
	margin-left:100px;
	margin-top:-50px;
}
.search-bar button{
	height:30px;
	width:40px;
	margin-left:-5px;
}
.search-bar input{
	margin-left:100px;
	height:30px;
	margin-top:10px;
}
.navbar-brand{
	margin-top:10px;
}
#register-form{
	background-color:#A9A9A9;
	width:500px;
	height:685px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}
#register-inputs p, input{
	margin-left:100px;
	line-height:20px;
	margin-top:10px;

}
#register-heading h1{
	font-size:20px;
	text-align:center;
}
#register-heading{
	margin-top:20px;
}
#register-inputs{
	margin-top:40px;
}
#register-form input{
	width:300px;
	height:30px;
	margin-left:100px;
}
#terms-and-privacy p{
	margin-left:20px;
}
#username_error{
	margin-left:180px;
	font-size:12px;

}
#email_error{
	margin-left:180px;
	font-size:12px;
}
#password_error{
	margin-left:180px;
	font-size:12px;
}
#retype_password_error{
	margin-left:180px;
	font-size:12px;
}
#login-form{
	margin-left: auto;
    margin-right: auto;
	margin-top:50px;
	background-color:#C0C0C0;
	width:510px;
	height:595px;
}
#login-heading h1{
	font-size:20px;
	text-align:center;
}
#login-inputs p, input{
	margin-left:100px;
	line-height:10px;
	margin-top:10px;
}
#login-inputs {
	margin-top:40px;
}
#login-form input{
	width:300px;
	height:30px;
}
.fb {
 	background-color: #3B5998;
  	color: white;
}
.twitter {
  	background-color: #55ACEE;
  	color: white;
}
.google {
  	background-color: #dd4b39;
  	color: white;
}
.social-media-login a{
	width:200px;
}
.social-media-login {
	margin-left:150px;
	margin-top:-10px;
}
#seperate-login{
	background-color:black;
	width:250px;
	height:2px;
	margin-left:120px;
}
#login-with-social h2{
	font-size:20px;
	margin-left:70px;
}
#login-body body{
	background-repeat:no-repeat;
}
#about-us-heading{
 text-align:center;
}
#about-us{
	opacity: 0.9;
	background-color:#6d6d9e;
	border:1px solid;
	height:400px;
	width:300px;
	margin-left:10%;
	margin-top:100px;
	text-align:center;
}
#about-us img{
	width:100px;
}
#who-we-are{
	opacity: 0.9;
	background-color:#6d6d9e;
	border:1px solid;
	height:400px;
	width:300px;
	margin-left:40%;
	margin-top:-395px;
	text-align:center;

}
#who-we-are img{
	width:100px;
}
#our-users {
	opacity: 0.9;
	background-color:#6d6d9e;
	border:1px solid;
	height:400px;
	width:300px;
	margin-left:70%;
	margin-top:-395px;
	text-align:center;
}
#our-users img{
	width:100px;
}


#user-info{
	text-align:center;
}
.footer{
	
	margin-top:400px;
	background-color: #A9A9A9;
   	left: 0;
   bottom: 0;
   width: 100%;
   height:150px;

}
.infomation-footer{
	margin-left:-80%;
	margin-top:-10px;
	text-align:center;
}
.infomation-footer a{
	 color: #0060B6;
}
.infomation-footer h4{
	font-size:15px;
}
.products-footer{
	margin-left:5%;
	margin-top:-95px;
	text-align:center;
}
.products-footer h4{
	font-size:15px;
}
.products-footer a{
	color:#0060B6;
	
}
.account{
	margin-left:-40%;
	margin-top:-110px;
	text-align:center;
	
}
.account h4{
	font-size:15px;

}
.account a{
	color: #0060B6;

}

.fa-facebook {
   	background: #3B5998;
   	color: white;
}
.fa-twitter {
  	background: #55ACEE;
  	color: white;
}
.fa-youtube {
  	background: #bb0000;
  	color: white;
  }
.fa-instagram {
  	background: #125688;
  	color: white;
}
.socal-media-icons {
	margin-left:80%;
	margin-top:-80px;
	text-align:center;
}
.socal-media-icons h4{
	font-size:15px;
}

.socal-media-icons a{
  	padding:7px;
    font-size:25px;
    width: 40px;
    height:35px;
    text-align: center;
    text-decoration: none;
   	border-radius:100px;
}
.dropdown {
	margin-left:67%;
	margin-top:-60px;
}
.logout-menu{
	
}
.dropdown-menu {
	width:20px;
	margin-left:36%;
}
.dropdown-menu li{
	margin-left:-60%;
}
@media only screen and (max-width: 1430px) {
 	.open-slide{
 	display:block;
 	margin-left:-28px;
 	margin-top:20px;
}
.responsive-hamburgur-menu{
 	margin-left:52%;
}
.open-slide{
 	display:block;
 	margin-left:-28px;
 	margin-top:20px;
}
.navbar-nav {
	display:none;
}
.glyphicon-user{
 	margin-left:5px;
}
.glyphicon {
 	margin-left:-80px;
}
.menu-item {
 	border-bottom:1px solid;
 	border-top:1px solid;
 	text-align:center;
 	max-height:3px
}
.navbar-brand{
    display:none;
}
.responsive-navbar-brand a{
	margin-left:40px;
	font-size:15px;
}
}
@media only screen and (max-width : 1024px){
.open-slide{
 	display:block;
 	margin-left:-28px;
 	margin-top:20px;
}
.responsive-hamburgur-menu{
 	margin-left:52%;
}
.open-slide{
 	display:block;
 	margin-left:-28px;
 	margin-top:20px;
}
.navbar-nav {
	display:none;
}
.glyphicon-user{
 	margin-left:5px;
}
.glyphicon {
 	margin-left:-80px;
}
.menu-item {
 	border-bottom:1px solid;
 	border-top:1px solid;
 	text-align:center;
 	max-height:3px
}
.navbar-brand{
    display:none;
}
.responsive-navbar-brand a{
	margin-left:40px;
	font-size:15px;
}
}
@media  all and (max-width: 640px) {
#register-form{
    width: 350px;
    height:695px;
    margin-top: 50px;   
}
#username_error{
	margin-left:100px;
	margin-top:-5px;
}
#email_error{
	margin-left:110px;
}
#password_error{
	margin-left:100px;
}
#retype_password_error{
	margin-left:100px;
}
#register-inputs p, input{
	margin-left:25px;
}
#register-form input{
	margin-left:25px;
}
#register-button{
	margin-top:-10px;
}
#login-form{
	width:350px;
	height:630px;
	margin-top:50px;
}
#login-inputs p, input{
	margin-left:30px;
}
#login-form input{
	margin-left:30px;
}
.social-media-login {
	margin-left:80px;
}
#seperate-login{
	margin-left:50px;
}
#login-with-social h2{
	margin-left:35px;
	font-size:16px;
}
.open-slide{
 	display:block;
 	margin-left:-28px;
 	margin-top:20px;
}



.responsive-hamburgur-menu{
 	margin-left:52%;
}
.navbar-nav {
	display:none;
}
.glyphicon-user{
 	margin-left:5px;
}
.glyphicon {
 	margin-left:-80px;
}
.menu-item {
 	border-bottom:1px solid;
 	border-top:1px solid;
 	text-align:center;
 	max-height:3px
}
.navbar-brand{
    display:none;
}
.responsive-navbar-brand a{
	margin-left:40px;
	font-size:15px;
}
.footer{
	height:480px;
}
.account{
	margin-left:-5%;
	margin-top:30px;
}
.infomation-footer{
	margin-left:-5%;
}
.socal-media-icons{
	margin-top:40px;
	margin-left:-5%;
}
.products-footer{
	margin-left:-5%;
	margin-top:50px;
}
#who-we-are{
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
}
#our-users{
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
}
#about-us{
	margin-left:auto;
	margin-right:auto;
}
}
 